@page
@model RestaurantManagement.Pages.FoodManager.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<div>
	<div class="menu">
		<div>
			<h2 class="menutext">FOOD DETAILS</h2>
		</div>
	</div>
	<div>
		<table class="table">
			<thead class="theadtable">
				<tr>
					<th class="title">Image</th>
					<th class="title">Name</th>
					<th class="title">Description</th>
					<th class="title">Price</th>
					<th class="title">Category</th>
					<th class="title">Settings</th>
				</tr>
			</thead>
			<tr class="tbodyfood">
				<td><img style="height:200px" src="@Html.DisplayFor(model => model.Food.Image)" /></td>

				<td>@Html.DisplayFor(model => model.Food.Name)</td>

				<td>@Html.DisplayFor(model => model.Food.Description)</td>

				<td>@Html.DisplayFor(model => model.Food.Price)</td>

				<td>@Html.DisplayFor(model => model.Food.Category.Name)</td>
				<td class="btncrud">
					<a asp-page="./Edit" asp-route-id="@Model.Food?.Id">Edit</a>
					<a asp-page="./Index">Back to List</a>
				</td>
			</tr>
		</table>
	</div>
</div>
<link href="~/css/foodandcategory/details.css" rel="stylesheet" />
<link href="~/css/fooddetails.css" rel="stylesheet" />